body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #E74C3C;
  color: white;
  padding: 5px 10px;
}

img {
  width: 100%;
}

h3 {
  text-shadow: 2px 1px 0px rgb(49, 44, 44);
  color: white;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.article-list li {
  position: relative;
  color: #222;
  
}

.article-list-inner {
  background-size: cover !important;
  background: rgba(49, 44, 44, 0.5);
  padding: 10px;
  height: 50vh;
  position: relative;
}

.article-list-inner h3 {
  text-shadow: 2px 1px 0px rgb(49, 44, 44);
  background: rgba(49, 44, 44, 0.5);
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 10px;
}

.article-list-inner-desc {
  padding: 10px;
  background: #3498DB;
  color: white;
}

h4 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #222;
}

.weather_container::hover {
  cursor: pointer;
}

.weather_container {
  background: #2980B9;
  padding: 10px;
  color: white;
  font-weight: 600;
}

.forecast_container {
  display: none;
}

.forecast_container ul {
  background: #3498DB;
  color: white;
}

.forecast_container li {
  margin: 0px;
  padding: 10px;
  border-bottom: 0px;
}