body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #E74C3C;
  color: white;
  padding: 5px 10px;
}

img {
  width: 100%;
}

h3, i, p, span, a {
  text-shadow: 3px 2px 1px rgb(49, 44, 44);
  color: white;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.article-list li {
  position: relative;
  padding: 10px;
  color: #222;
  background-size: cover;
}

.article-list div {
  background: rgba(49, 44, 44, 0.5);
  padding: 10px;
}

h4 {
  margin: 0px;
}

a {
  text-decoration: none;
}

.weather_container::hover {
  cursor: pointer;
}

.weather_container {
  background: #2980B9;
  padding: 10px;
  color: white;
  font-weight: 600;
}

.forecast_container {
  display: none;
}

.forecast_container ul {
  background: #3498DB;
  color: white;
}

.forecast_container li {
  margin: 0px;
  padding: 10px;
  border-bottom: 0px;
}